services:
  redis:
    image: redis:7.4
    container_name: kuke-board-redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - kuke-board-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: apache/kafka:3.8.0
    container_name: kuke-board-kafka
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - kuke-board-network
    restart: unless-stopped

networks:
  kuke-board-network:
    driver: bridge

volumes:
  redis-data:
    driver: local
  kafka-data:
    driver: local